* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

:root{
    --blue: #1B72E8;
    --darkwhite: #F8F9FA;
    --dark: #0E263B;

}

img{
    max-width: 100%;
}




/* DEBUG  */

.header, .left-bar, .right-content{
    position: fixed;
    /* border: red solid 1px; */
}

/* LEFT BAR */

.left-bar{
    bottom: 0;
    width: 150px;
    height: calc(100vh - 70px);
    background-image: url(img/sidebar-bg.png);
    background-color: var(--dark);
}

.admin-link{
    padding-top: 440px;
}




/* RIGHT CONTENT */

.right-content{
    right: 0;
    bottom: 0;
    height: calc(100vh - 70px);
    width: calc(100% - 150px);
    overflow: auto;

}

.blu-header{
    background-color: var(--blue);
    height: 120px;
}


/* HEADER */

.header{
    height: 70px;
    width: 100%;
    background-color: var(--darkwhite);
    
}

.bg-sec-header{
    background-color: white;
    
}


/* .pdd{
    border: red solid 2px;
} */
.logo-boo{
    width: 135px;
}

.logo-mobile{
    display: none;
    width: 40px;
}


.table-hover{
    font-size: 13px;
}

.img-stats{
    width: 29px;
}


@media (max-width: 778px){
    .left-bar{
        width: 70px;
    }

    .display-n{
        display: none;
    }

    .logo-mobile{
        display: block;
    }


    .logo-boo{
        display: none;
    }

    .fa-bell{
        margin-left: 30px;
    }

    .right-content{
        width: calc(100% - 70px);
    }

 
    


}